{{ with .Site.GetPage "section" "team" }}
<div id="fh5co-team" data-section="team">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .Params.title }}</h2>
      <p>{{ .Content | markdownify }}</p>
    </div>
    {{ range .Data.Pages }}
    <div class="col-md-4">
      <div class="person">
	<img src="{{ .Params.image | absURL }}" alt="" class="img-responsive">
	<h3>{{ .Params.name }}</h3>
	<h4>{{ .Params.position }}</h4>
	<p>{{ .Content | markdownify }}</p>
	<ul class="social">
	  {{ if isset .Params "facebook" }}
	  <li><a href="{{ .Params.facebook }}" target=_blank><i class="icon-facebook"></i></a></li>
	  {{ end }}
	  {{ if isset .Params "twitter" }}
	  <li><a href="{{ .Params.twitter }}" target=_blank><i class="icon-twitter"></i></a></li>
	  {{ end }}
	  {{ if isset .Params "dribbble" }}
	  <li><a href="{{ .Params.dribble }}" target=_blank><i class="icon-dribbble"></i></a></li>
	  {{ end }}
	  {{ if isset .Params "instagram" }}
	  <li><a href="{{ .Params.instagram }}" target=_blank><i class="icon-instagram"></i></a></li>
	  {{ end }}
	  {{ if isset .Params "github" }}
	  <li><a href="{{ .Params.github }}" target=_blank><i class="icon-github"></i></a></li>
	  {{ end }}
	  {{ if isset .Params "linkedin" }}
	  <li><a href="{{ .Params.linkedin }}" target=_blank><i class="icon-linkedin"></i></a></li>
	  {{ end }}
	</ul>
      </div>
    </div>
    {{ end }}
  </div>
</div> <!-- END fh5co-team -->
{{ end }}
